<style>
    i {
        cursor: pointer;
        color: red;
        font-size: 30px;
    }
</style>
<div class="my-5 row justify-content-center">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="card col-md-10">
        <div class="card-body row">
            <div class="col-md-4">
                <img src="<%=info.thumbnail%>" width="90%">
            </div>
            <div class="col align-self-center">
                <h5>
                    <%=info.title%>
                    <i class="bi-heart" id="heart"></i>
                </h5>
                <hr>
                <div class="mb-3">ISBN: <%=info.isbn%></div>
                <div class="mb-3">가격: <%=info.price%></div>
                <div class="mb-3">저자: <%=info.authors%></div>
                <div class="mb-3">출판사: <%=info.publisher%>원</div>
                <div class="my-3">
                    <button class="btn btn-success px-5 cart">장바구니</button>
                    <button class="btn btn-warning px-5">바로구매</button>
                </div>
            </div>
            <hr>
            <a><%=info.contents%></a>
        </div>
    </div>
</div>
<%-include("review.ejs")%>
<script type="module">
    import { app } from '/javascripts/config.js';
    import { getDatabase, ref, set, get, onValue, remove} from "https://www.gstatic.com/firebasejs/11.0.1/firebase-database.js";

    const db = getDatabase(app);
    
    const isbn = "<%=info.isbn%>";
    const title = "<%=info.title%>";
    const thumbnail = "<%=info.thumbnail%>";
    const publisher = "<%=info.publisher%>";
    const authors = "<%=info.authors%>";
    const contents = "<%=info.contents%>";
    const price = "<%=info.price%>";
    const info = { isbn, title, thumbnail, publisher, authors, contents, price };
    // console.log(info);

    //장바구니를 클릭한 경우
    $(".cart").on("click", async function(){
        if(email){
            //현재도서를 장바구니에 넣기
            const ref_cart = ref(db, `cart/${uid}/${isbn}`);
            const snapshot = await get(ref_cart);
            if(snapshot.val()){
                alert("이미 장바구니에 존재하는 도서입니다.");
            } else {
                await set(ref_cart, info);
                alert("장바구니 추가!");
            }
        }else{ 
            sessionStorage.setItem("target", window.location.href);
            location.href="/users/login";
        }
    });
    
    //빈하트를 클릭한 경우
    $("#heart").on("click", function(){
            if($(this).attr("class")=="bi-heart"){ // 빈 하트
                if(confirm("좋아요 추가?")) {
                    set(ref(db, `favorite/${uid}/${isbn}`), {title});
                }
            } else { // 채운 하트
                if(confirm("좋아요 취소?")) {
                    remove(ref(db, `favorite/${uid}/${isbn}`));
                }
            }
    });
    onValue(ref(db, `favorite/${uid}/${isbn}`), snapshot=>{
        console.log(snapshot);
        if(snapshot.size==1) { //채운 하트
            $("#heart").removeClass("bi-heart");
            $("#heart").addClass("bi-heart-fill");
        } else if(snapshot.size==0){ // 빈 하트
            $("#heart").removeClass("bi-heart-fill");
            $("#heart").addClass("bi-heart");
        }
    });
</script>